[submodule "Sources/Serial/Tools/Lib_VTK_IO"]
	path = Sources/Serial/Tools/Lib_VTK_IO
	url = https://github.com/victorsndvg/Lib_VTK_IO.git
[submodule "Sources/Serial/Tools/FLAP"]
	path = Sources/Serial/Tools/FLAP
	url = https://github.com/victorsndvg/FLAP.git
[submodule "Sources/Serial/Tools/FPL"]
	path = Sources/Serial/Tools/FPL
	url = https://github.com/victorsndvg/FPL.git
[submodule "ThirdParty/SISL"]
	path = ThirdParty/SISL
	url = https://github.com/SINTEF-Geometry/SISL.git
