[submodule "ThirdParty/SISL"]
	path = ThirdParty/SISL
	url = https://gitlab.com/fempar/SISL.git
	branch = master
[submodule "ThirdParty/FPL"]
	path = ThirdParty/FPL
	url = https://gitlab.com/fempar/FPL.git
	branch = master
[submodule "ThirdParty/FLAP"]
	path = ThirdParty/FLAP
	url = https://gitlab.com/fempar/FLAP.git
	branch = master
[submodule "ThirdParty/VTKIO"]
	path = ThirdParty/VTKIO
	url = https://gitlab.com/fempar/Lib_VTK_IO.git
	branch = master
[submodule "ThirdParty/XH5For"]
	path = ThirdParty/XH5For
	url = https://gitlab.com/fempar/XH5For.git
	branch = master
